.main-container{
    padding: 40px !important;
    align-items: center !important;
    margin: 0 auto !important;
    justify-content: space-between !important; 
    margin-top: 5% !important;
}

.main-container button{
    border-radius: 10px !important;
    margin-top: 5% !important;
    font-weight: bold;
}
