.buttonQuestion {
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    width: 100% !important;
    font-weight: bold !important;
    text-align: left !important;
    font-size: 18px !important;
    @apply bg-slate-100;
}
.answerQuestion{
    border-radius: 10px !important;
    margin-top: 1% !important;
}

.accordionItem {
    margin-bottom: 1rem !important;
    border-radius: 8px !important;
    overflow: hidden !important;
    font-weight: 600 !important;
    background-color: #f9f9f9 !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    @apply text-slate-700;
}

.accordionTrigger {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    &:hover {
        background-color: #e0e0e0;
        transform: translateY(-2px);
    }
}

.accordionContent {
    padding: 1rem;
    font-size: 0.95rem;
    font-size: 16px !important;
    border-top: 1px solid #ddd;
    background-color: #f1f1f1;
}