.iconFeature{
    font-weight: bolder !important;
    font-size: 400px !important;
    @apply text-purple-950;
}

.text-container{
    padding: 40px !important;
    text-align: center !important;
}

.card-item-card{
    height: 400px !important;
}